
header#banner, #in{
    
    display: none;
    
}



/* ############################################################################################## *\
    
    section hebdo resa
    
\* ############################################################################################## */

#hebdo, #resa{
    
    display: block;
    width: 100%;
    
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    
}

/* ############################################################################################## *\
    
    form contact
    
\* ############################################################################################## */

#facebook-content #contactt{
    
    display: inline-block;
    width: 95%;
    margin: 0;
    padding-top: 0;
    
}


/* ############################################################################################## *\
    
    section plus
    
\* ############################################################################################## */

#plus-content article.pastille, #plus-content article.trip{
    
    display: block;
    width: 90%;
    margin: 20px auto;
    
}








